*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
}

nav{
	background-color: transparent;
	box-shadow: none;
}

.bg-home{
	background-image: url('../img/bg.jpg');
	width: 100%;
	background-size: cover;
	height: 100vh;
}

.uppercase{
	text-transform: uppercase;
}

.raleway{
	font-family: 'Raleway', sans-serif;
}

.presentation{
	margin-top: 15vw;
}

.bolder{
	font-weight: bolder;
}

nav .nav-wrapper{
	margin: 0 4vw;
}

ul:not(.browser-default) li{
	margin: 0 30px;
}

.logo{
	width: 30px;
}

.menu-large{	
	right: 0;
	position: fixed;
	z-index: 998;
}

i.material-icons{
	color: #fff;
}

.menu-hamburger{
	border: none;
	background: none;
}

button:focus{
	background: none;
}